.idea/
.vscode/
.venv/
__pycache__/
.ipynb_checkpoints/
Info/

outputs/
predict/
result/
results/
wandb/
pretrain/
model/pretrain/

*.log
*.pth
*.csv
*.onnx
*.pyc
*.pyo
*.baiduyun.uploading.cfg
*_wandb*

!flow_chart.png
